@{
  ViewData["Title"] = "Informe";
}

<div class="text-center">
  <h1 class="display-4">Informe sobre las 3 tablas</h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Jugador</th>
      <th>Puesto en la cancha</th>
      <th>Fecha del partido</th>
      <th>Minutos jugados</th>
      <th>Estadio</th>
      <th>Descripcion</th>
    </tr>
  </thead>
  <tbody id="tbody-informe"></tbody>
</table>

@section Scripts {
  <script src="~/js/informe.js"></script>
}