@{
    ViewData["Title"] = "Eventos";
}

<div class="text-center">
    <h1 class="display-4">Eventos en un partido</h1>
</div>

<div class="container">
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalEventos" onclick="">
    Cargar Eventos
</button>

<!-- Modal -->
<div class="modal fade" id="modalEventos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tituloModal"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="LimpiarModal()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="EventoPartidoID" />
                    <label for="PartidoID" class="form-label">Partido disputado</label>
                    @Html.DropDownList("PartidoID", null, htmlAttributes: new { @class = "form-control", @onchange = "TraerDetallePartido()" })

                    <label class="form-label">Jugador</label>
                    <input type="text" id="Jugador" class="form-control" style="text-transform: uppercase;" disabled>

                    <label class="form-label">Fecha</label>
                    <input type="date" id="Fecha" class="form-control" disabled>

                    <label for="Descripcion" class="form-label">Describí el desempeño del jugador</label>
                    <textarea id="Descripcion" class="form-control" style="text-transform: uppercase;"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                    onclick="LimpiarModal()">Cerrar</button>
                <button type="button" class="btn btn-success" onclick="">Guardar</button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Partido</th>
            <th>Jugador</th>
            <th>Fecha</th>
            <th>Descripcion</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tbody-eventos"></tbody>
</table>
</div>


@section Scripts {
    <script src="~/js/eventos.js"></script>
}